.card-container {
  padding: 16px;
  margin-left: 10%;
}

.horizontal-line {
  background-color: #FFA726;
  height: 1em;
  width: 5em;
}

.title {
  font-size: 5.5em;
  font-weight: 300;
}

.description {
  font-size: 1rem;
  margin-right: 20vw;
  margin-top: 5vw;
}

.description-long{
  margin-right: 2vw;
}

.action-btn {
  margin-top: 5vw;
}


@media only screen and (min-width: 200px) and (max-width: 479px) {
  .card-container {
    margin-left: 0;
  }

  .horizontal-line {
    height: 0.5em;
    width: 3em;
    margin-left: 0;
  }

  .title {
    font-size: 2em;
  }

  .description {
    font-size: 0.8rem;
    margin-right: 0;
    margin-top: 5vw;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .title {
    font-size: 3em;
  }

  .card-container {
    margin-left: 0;
  }

  .horizontal-line {
    height: 0.5em;
    width: 3em;
    margin-left: 0;
  }

  .description {
    font-size: 0.8rem;
    margin-right: 0;
    margin-top: 5vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-container {
    margin-left: 0;
  }

  .horizontal-line {
    height: 0.5em;
    width: 3em;
    margin-left: 0;
  }

  .title {
    font-size: 4em;
  }

  .description {
    font-size: 1rem;
    margin-right: 0;
    margin-top: 5vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .card-container {
    margin-left: 0;
  }

  .title {
    font-size: 3em;
  }

  .description {
    font-size: 0.8rem;
    margin-top: 4vw;
    margin-left: 0;
  }
}


@media only screen and (min-width: 1200px) {
  .horizontal-line {
    margin-left: -6vw;
  }
}